.button {
    display: inline-block;
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 14px;
    width: 80px;
    text-align: center;
  }
.editable-button-container {
    display: inline-block;
}



.text {
    display: inline-block;
    padding: 8px;
    border-radius: 1px 0 0 1px;
    border: #4caf4f00;
    font-size: 14px;
    background-color: #4caf4f00;
    width: 35px;
    color: white;
    
    
  }